%a.logo(href='/') The Medical Aesthetic Clinic

.header-details
  %p Get in touch: 01962 840 400 or cathywallwork@btopenworld.com

%nav.main-nav
  %ul
    %li
      %a(href='/') Home
    %li
      %a(href='/treatments') Treatments
    %li
      %a(href='/products') Products
    %li
      %a(href='/about') About Us
    %li
      %a(href='/links') Links
    %li
      %a(href='/contact') Contact
