.notice
  %p
    %strong.alert Retinol Plus Facial - Jan Marini Skin Research... £50 (usual price £80!).
  %p
    All Skin Types – Addresses Fine Lines and Wrinkles, Enlarged Follicles, Acne, Coarse Texture, Sun Damage and Hyperpigmentation
  %p
    The Retinol Plus Facial utilizes the highest concentration of retinol and multiple advanced technologies for enhanced
  resurfacing and skin refining effects. This corrective facial will provide immediate visible skin retexturization and
  refinement, greater smoothness and hydration, and will assist in helping to minimize the appearance of fine lines and
  wrinkles, acne, sun damage and facial discoloration.
  %strong Take advantage of this Christmas &amp; New Year Offer. See the results for yourself.
