.notice
  %p
    %strong.alert Retinol Plus Facial - Jan Marini Skin Research... £50 (usual price £80!).
  %p
    All Skin Types – Addresses Fine Lines and Wrinkles, Enlarged Follicles, Acne, 
    %br Coarse Texture, Sun Damage and Hyperpigmentation
  %p
    The Retinol Plus Facial utilizes the highest concentration of retinol and multiple advanced 
    %br technologies for enhanced resurfacing and skin refining effects. This corrective facial 
    %br will provide immediate visible skin retexturization and refinement, greater smoothness 
    %br and hydration, and will assist in helping to minimize the appearance of fine lines and
    %br wrinkles, acne, sun damage and facial discoloration.
    %br 
      %strong Take advantage of this Christmas &amp; New Year Offer. See the results for yourself.
