.notice
  %p
    %strong.alert We are delighted to introduce Laura Hume!
  %p
    Laura Hume is a Remedial Soft Tissue Therapist. This therapy is not only for sporty people and it is 
    %br more than just a massage. Although many issues can be brought on by sport, the biggest contributing 
    factors to pain are postural or occupational.

  %p
    %a(href='links') Find out more &gt;
